html, body {
    width: 100%;
    height: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    z-index: 0;
}

iframe {
    position: absolute; 
    height: calc(100% - 50px); 
    width:100%; 
    border:none; 
    margin: 0px; 
    padding: 0px; 
    overflow: hidden;
    z-index: +1;
}

#untisframe {
    top: 50px;
}