div.newsslidershow div.slider {
  justify-content: center;
  padding-left: 0;
  padding-right: 0;
  margin: auto;
  font-family: "montserrat", sans-serif;
  width: 1500px;
  height: 350px;
  border-radius: 10px;
  overflow: hidden;
}

div.newsslidershow div.slider div.newsslides {
  width: 500%;
  height: 100%;
  display: flex;
  border: 2px #fff;
  border-radius: 15px;
}

div.newsslidershow div.slider div.newsslides input {
  display: none;
}

div.newsslidershow div.slider div.newsslides div[class^="newsslide"] {
  margin-left: 10px;
  margin-right: 10px;
  width: 20%;
  transition: 2s;
  border: 2px #fff;
  border-radius: 15px;
}

div.newsslidershow div.slider div.newsslides div.newsslide1 {
  margin-left: 0;
}

div.newsslidershow div.slider div.newsslides div[class^="newsslide"] .news {
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  background-color: rgb(122, 133, 131);
  /* width: 1000px; */
  align-self: center;
  border: 2px #fff;
  border-radius: 15px;
  /* display: block; */
  cursor: pointer;
}

div.newsslidershow div.slider div.newsslides div[class^="newsslide"] .news h1,
div.newsslidershow div.slider div.newsslides div[class^="newsslide"] .news h5,
div.newsslidershow div.slider div.newsslides div[class^="newsslide"] .news p {
  margin-left: 20px;
  margin-right: 20px;
}

div.newsslidershow div.slider div.newsslides div[class^="newsslide"] .news h1 {
  padding-top: 20px;
  margin-bottom: 3px;
}

div.newsslidershow div.slider div.newsslides div[class^="newsslide"] .news p {
  margin-top: 0px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 90%;
  /* display: block; */
}

div.newsslidershow div.slider div.newsslides div[class^="newsslide"] .news h5 {
  margin-top: 0px;
  margin-left: 10px;
  margin-right: 10px;
  /* color: rgb(221, 221, 221); */
  margin-bottom: 10px;
}

div.newsslidershow
  div.slider
  div.newsslides
  div[class^="newsslide"]
  .news
  h5
  p {
  margin-top: 0px;
  margin-bottom: 1px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0;
  left: 0;
  right: 0;
  color: rgb(221, 221, 221);
  display: inline-block;
}

div.newsslidershow
  div.slider
  div.newsslides
  div[class^="newsslide"]
  .news
  h5
  p
  span {
  display: inline-block;
}

div.newsslidershow
  div.slider
  div.newsslides
  div[class^="newsslide"]
  .news
  h5
  .time {
  margin-left: 5px;
  margin-right: 5px;
}

div.newsslidershow
  div.slider
  div.newsslides
  div[class^="newsslide"]
  .news
  a[class^="readmore"] {
  cursor: pointer;
  color: rgb(221, 221, 221);
  display: inline-block;
}

/*css for manual slide navigation*/

div.newsslidershow div.slider div.navigation-manual {
  position: absolute;
  width: 1500px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

div.newsslidershow div.slider .manual-btn {
  border: 2px solid #40d3dc;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

div.newsslidershow div.slider .manual-btn:not(:last-child) {
  margin-right: 40px;
}

div.newsslidershow div.slider .manual-btn:hover {
  background: #40d3dc;
}

div.newsslidershow div.slider #radio1:checked ~ .newsslide1 {
  margin-left: 0px;
}

div.newsslidershow div.slider #radio2:checked ~ .newsslide1 {
  margin-left: calc(-20% - 20px);
}

div.newsslidershow div.slider #radio3:checked ~ .newsslide1 {
  margin-left: calc(-40% - 40px);
}

/*css for automatic navigation*/

div.newsslidershow div.slider div.newsslides .navigation-auto {
  position: absolute;
  display: flex;
  width: 1500px;
  justify-content: center;
  margin-top: 310px;
}

div.newsslidershow div.slider div.newsslides .navigation-auto div {
  border: 2px solid #40d3dc;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

div.newsslidershow
  div.slider
  div.newsslides
  .navigation-auto
  div:not(:last-child) {
  margin-right: 40px;
}

div.newsslidershow
  div.slider
  div.newsslides
  #radio1:checked
  ~ .navigation-auto
  .auto-btn1 {
  background: #40d3dc;
}

div.newsslidershow
  div.slider
  div.newsslides
  #radio2:checked
  ~ .navigation-auto
  .auto-btn2 {
  background: #40d3dc;
}

div.newsslidershow
  div.slider
  div.newsslides
  #radio3:checked
  ~ .navigation-auto
  .auto-btn3 {
  background: #40d3dc;
}

@media (max-width: 1600px) {
  div.newsslidershow div.slider {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: fit-content;
    position: relative;
  }
  div.newsslidershow div.slider div.navigation-manual,
  div.newsslidershow div.slider div.newsslides .navigation-auto {
    width: 90%;
    margin-top: auto;
    bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    left: 50%;
    right: 50%;
    transform: translate(-50%);
  }
  div.newsslidershow div.slider div.newsslides div[class^="newsslide"] .news {
    text-align: center;
  }
  div.newsslidershow div.slider div.newsslides div[class^="newsslide"] .news p {
    margin-bottom: 40px;
  }
}
