@media only screen and (max-width: 1529px) {
  /* For desktop: */
  .col-1 {
    width: 100%;
  }
}
@media only screen and (min-width: 1530px) {
  /* For desktop: */
  .col-1 {
    padding-top: 10%;
    padding-right: 6%;
  }
  .col-2 {
    text-align: center;
    width: 100%;
    color: darkblue;
  }
  .col-3 {
    border: 1px solid royalblue;
    border-radius: 20px;
  }
  .col-4 {
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
a {
  text-decoration: none;
  color: darkblue;
}
.dropbtn {
  margin: 10px 12px;
  background-color: cornflowerblue;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
}
.dropdown {
  display: inline-block;
}
.dropdown-content {
  border-radius: 10px;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #ddd;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
}
.dropdown:hover .dropdown-content {
  display: block;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
}
.dropdown:hover .dropbtn {
  background-color: mediumblue;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
}
.body {
  background-color: white;
  font-family: "montserrat", sans-serif;
}
.body p {
  color: black;
}
.top-container {
  padding: 10 104px;
  text-align: center;
}
.header {
  position: sticky;
}
.sticky {
  top: 0;
  width: 100%;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
}
.sticky + .content {
  padding-top: 20;
}
.png-banner {
  height: auto;
  width: 100%;
}
.imgslide {
  border-radius: 100px;
}
.line {
  border-bottom: 1px solid lightgray;
  padding-bottom: 10px;
}
.container {
  position: relative;
}
* {
  box-sizing: border-box;
}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  float: auto;
}
.slideshow-container div {
  display: block;
}
.mySlides {
  display: none;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 85px;
  width: 20%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  height: 5.7%;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: #717171;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.box {
  padding: 0px 0px;
  margin: 0px;
  padding-right: 6%;
  padding-top: 10%;
}
.box p,
h1 {
  text-align: center;
  width: 100%;
  color: darkblue;
}
.box h1 {
  border: 1px solid royalblue;
  border-radius: 20px;
}
.box p a:hover {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
.row {
  text-align: center;
}
.row p {
  text-align: center;
  width: 100%;
  color: darkblue;
}
.img-responsive {
  float: center;
  text-align: center;
  max-width: 200px;
  min-width: 10%;
}
.tablelehrer td {
  font-family: Calibri, sans-serif;
}
.tablelehrer {
  padding-bottom: 5%;
}
.center {
  align-content: center;
  align-items: center;
  align-self: center;
  text-align: center;
}
.fach {
  text-transform: uppercase;
}
.vertbtn {
  margin: 10px 12px;
  background-color: skyblue;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
}
h2 {
  text-align: center;
}
