html,
body {
    width: 100%;
    height: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    z-index: 0;
}

/* Fonts */

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    font-family: "montserrat", sans-serif;
    text-decoration: none;
}

/* TODO: seperate CSS files */

#untisframe {
    top: 50px;
}

/* Home page */

section a button {
    transition: 0.5s all;
    font-size: large;
    width: 100px;
    height: 35px;
    background-color: #3d3d3d;
    color: white;
    border: 1px solid #fff;
    border-radius: 10px;
    cursor: pointer;
}

section a button:hover {
    background-color: #444444;
    box-shadow: 2px 2px 10px gray;
}

section a button i {
    width: 10px;
    height: 10px;
    color: deepskyblue;
    padding-right: 5px;
}

.parallax {
    background-image: url("/img/front.webp");

    position: relative;
    height: 100vh;
    width: 100%;
    top: 50px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    opacity: 0.5;
}

@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}

#mainTop {
    top: 0;
    position: relative;
    width: 100%;
    height: 100vh;
}

#mainTop div {
    top: 35vh;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    padding: 10px 20px;
    background-color: #3d3d3d;
    border-radius: 50px;
}

#mainSecond > div > div > p a {
    text-decoration: underline dotted #3d859c 1px;
}

#upndown {
    padding-top: 10px;
    -webkit-animation: mover 1s infinite alternate;
    animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-40px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-40px);
    }
}

#mainTop h1 {
    font-size: 50px;
    margin-bottom: -20px;
    margin-top: 0.4em;
}

#mainTop h2 {
    font-size: 40px;
}

#mainSecond {
    height: fit-content;
    width: 100%;
    background-color: #1a1a1a;
    position: relative;
}

#mainSecond > div {
    display: flex;
    align-items: center;
}

#mainSecond > div > div:nth-child(2) {
    width: 34%;
    margin: auto;
    padding: 30px 0px 30px 0px;
}

#mainSecond > div > div:nth-child(2) > p:nth-child(1) {
    border: 1px solid #3d859c;
    border-radius: 20px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 70px;
    font-size: 25px;
}

#mainSecond > div > div:first-child,
#mainSecond > div div:last-child {
    width: 33%;
}

#mainSecond > div > div:first-child > img,
#mainSecond > div div:last-child > img {
    width: auto;
    height: 60%;
    margin: auto 45px;
    border: 1px solid black;
    border-radius: 50px;
}

#mainThird {
    height: fit-content;
    width: 100%;
    background-color: #282828;
    display: block;
    position: relative;
}

#mainThird > div {
    padding: 60px 0px 0px 0px;
}

#mainThird > div > p {
    text-align: justify;
    padding: 30px 0px;
    margin: 0px 10vw;
}

#mainThird > div > p:nth-child(1) {
    border: 1px solid #3d859c;
    border-radius: 20px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 70px;
    font-size: 25px;
}

#mainFourth {
    height: fit-content;
    width: 100%;
    background-color: #1a1a1a;
    display: block;
    position: relative;
}

#mainFourth > div:nth-child(1) {
    padding-top: 60px;
}

#mainFourth > div:nth-child(2) {
    display: flex;
    padding: 30px 0px 30px 0px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-around;
    align-items: stretch;
}

#mainFourth > div:nth-child(2) > div {
    background-color: #282828;
    border-radius: 20px;
    width: fit-content;
    padding: 15px;
    margin: 15px;
}

#mainFourth > div p {
    text-align: justify;
    padding: 30px 0px;
    margin: 0px 10vw;
}

#mainFourth > div:nth-child(1) > p:nth-child(1) {
    border: 1px solid #3d859c;
    border-radius: 20px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 70px;
    font-size: 25px;
}

#mainFourth > div:nth-child(2) > div > p:nth-child(1) {
    font-size: 17px;
    border-bottom: 1px dashed #3d859c;
    padding: 0px;
    margin-bottom: 20px;
    width: fit-content;
}

#mainFourth > div:nth-child(2) > div > img {
    border-radius: 10px;
}

#mainNews {
    height: fit-content;
    width: 100%;
    background-color: #282828;
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
    padding-top: 40px;
}

#mainNews > div:nth-child(1) > p:nth-child(1) {
    border: 1px solid #3d859c;
    border-radius: 20px;
    width: fit-content;
    margin-left: auto;
    margin-top: auto;
    margin-right: auto;
    padding: 5px 70px;
    font-size: 25px;
}

@media only screen and (max-width: 900px) {
    #mainSecond > div > div:first-child,
    #mainSecond > div div:last-child {
        display: none;
    }
}

/* End of TODO: */

.bodyDiv {
    min-height: calc(100vh - 50px);
}

iframe {
    position: absolute;
    height: calc(100% - 100px);
    width: 100%;
    border: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    z-index: +1;
}

section {
    margin: auto;
    text-align: center;
    display: block;
    position: relative;
    width: 100%;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
    display: block;
}

h1 {
    font-size: 35px;
    margin-bottom: 10px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
    margin-top: 0px;
}

.line {
    display: block;
    width: 80%;
    height: 1px;
    border-bottom: 1px solid gray;
    top: 24%;
    position: relative;
    margin: auto;
}

/* Colors */

a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: #fff;
}

@media (prefers-color-scheme: dark) {
    html,
    body {
        background-color: rgb(71, 71, 71);
        color: rgb(226, 226, 226);
    }
}