html,
body {
  font-family: "montserat", sans-serif;
  text-decoration: none;
}

.add-input {
  margin: 0;
}

.add-input form {
  margin: 0;
}

.add-input form label {
  color: rgb(102, 102, 102);
  font-size: 16px;
  padding: 4px 4px;
}

.add-input form input {
  color: rgb(102, 102, 102);
  background: rgb(205, 211, 210);
  border: none;
  outline: none;
  border-bottom: 2px solid #3d859c;
  overflow: none;
  font-size: 16px;
  padding: 4px 4px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  float: none;
  margin: auto;
}

.add-input form input#first {
  margin-top: 25px;
}

.add-input form input[type="text"],
.add-input form input[type="email"],
.add-input form input[type="number"],
.add-input form input[type="date"],
.add-input form input[type="submit"],
.add-input form textarea {
  width: clamp(360px, 95%, 1000px);
}

/* .add-input form input[type="submit"] {
  margin-bottom: 30px;
} */

.add-input form input.infotext {
  align-self: center;
  position: relative;
}

.add-input form .faecher,
.add-input form .position {
  align-self: center;
  left: 50%;
  right: 50%;
  transform: translate(-50%);
  padding: 4px 4px;
  margin: 8px 10px;
  position: relative;
  width: clamp(360px, 95%, 1000px);
}

.add-input form .faecher ul li,
.add-input form .position ul li {
  list-style-type: none;
  align-self: center;
}

.add-input form .position ul li {
  display: inline-block;
  vertical-align: top;
  margin: 0 5px;
  margin-bottom: 10px;
  position: relative;
}

.add-input form .faecher ul ul {
  display: inline-block;
  vertical-align: top;
  margin: 0 5px;
  margin-bottom: 10px;
}

.add-input form .faecher .heading2,
.add-input form .position .heading2 {
  font-size: 25px;
  margin-left: 5%;
  border-bottom: 2px solid #3d859c;
}

.add-input form .faecher ul ul .heading {
  font-size: 20px;
}

.add-input form .faecher label {
  margin: 0;
  padding-top: 4px;
  padding: 0;
}

.add-input form .faecher input {
  color: rgb(102, 102, 102);
  margin: 0;
  padding: 0;
  margin-right: 4px;
  align-self: none;
  position: relative;
}

.add-input form textarea {
  color: rgb(102, 102, 102);
  background: rgb(205, 211, 210);
  border: none;
  outline: none;
  overflow: none;
  font-size: 16px;
  padding: 4px 4px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  resize: none;
}

.add-input form ::placeholder {
  color: rgb(102, 102, 102);
  opacity: 1;
}

.querycheck {
  color: rgb(102, 102, 102);
  margin: 20px 25%;
  background-color: #3d859c;
}

.page-ending {
  height: 125px;
}

/* Popup box BEGIN */
div.confirm {
  margin-left: 0;
  background: rgba(0, 0, 0, 0.8);
  /* cursor: pointer; */
  display: none;
  height: 100%;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 10000;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
div.confirm .helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
div.confirm > div {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: rgb(122, 133, 131);
  box-shadow: 10px 10px 60px #555;
  display: inline-block;
  height: auto;
  max-width: 900px;
  min-height: 100px;
  vertical-align: middle;
  width: 85%;
  position: relative;
  border-radius: 8px;
  padding: 5px 5%;
}
div.confirmation p {
  color: #fff;
}
div.confirmation a {
  border-radius: 15px;
  border: 0px;
  padding: 20px 30px;
  width: 300px;
  display: inline-block;
  margin: auto;
  margin-bottom: 30px;
  cursor: pointer;
}
div.confirmation a.repeat {
  background-color: #40b459;
  margin-right: 100px;
}
div.confirmation a.back {
  background-color: #39bd60;
}
div.confirmation a.abort {
  margin-right: 100px;
  background-color: rgb(57, 152, 175);
}
div.confirmation a.delete {
  background-color: rgb(180, 28, 28);
}
div.confirmation div#deletefirst a {
  display: none;
}
/* Popup box END */

/* Lehrertable */

#lehrerTableSearch {
  background: rgb(122, 133, 131);
  color: rgb(226, 226, 226);
  padding: 8px 16px;
  border: none;
  outline: none;
  border-radius: 10px;
  display: block;
  width: clamp(250px, calc(90% - 32px), 1700px);
  margin-left: auto;
  margin-right: auto;
}

#lehrerTableSearch::placeholder {
  color: rgb(226, 226, 226);
  opacity: 1; /* Firefox */
}

#lehrerTable {
  width: clamp(250px, 90%, 1700px);
  padding-left: 5%;
  padding-right: 5%;
  align-self: center;
  align-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  margin: auto;
  color: #fff;
  border: none;
  border-radius: 15px;
  padding: 0px;
  border-collapse: collapse;
  margin-bottom: 70px;
  margin-top: 20px;
}

#lehrerTable td,
#lehrerTable th {
  border: 1px solid #fff;
  border-collapse: collapse;
  padding: 8px;
}

#lehrerTable tr:nth-child(even) {
  background-color: #5a5a5a;
}

#lehrerTable tr:nth-child(odd) {
  background-color: #3d3d3d;
}

#lehrerTable tr:first-child {
  background-color: darkcyan;
}

#lehrerTable tr:hover {
  background-color: #9b9b9b;
}

#lehrerTable tr:hover:first-child {
  background-color: darkcyan;
}

#lehrerTable td {
  cursor: pointer;
}

#lehrerTable th.empty {
  border: 1px black;
  background-color: black;
}

#lehrerTable th {
  border-top: none;
}
#lehrerTable tr td:first-child {
  border-left: none;
}
#lehrerTable tr td:last-child {
  border-right: none;
}
#lehrerTable tr.tableHeader th:first-child {
  border-top-left-radius: 15px;
  border-left: none;
  border-top: none;
}
#lehrerTable tr.tableHeader th:last-child {
  border-top-right-radius: 15px;
  border-right: none;
  border-top: none;
}
#lehrerTable tr:last-child td:first-child {
  border-bottom-left-radius: 15px;
  border-bottom: none;
  border-left: none;
}
#lehrerTable tr:last-child td:last-child {
  border-bottom-right-radius: 15px;
  border-bottom: none;
  border-right: none;
}
#lehrerTable tr:last-child td {
  border-bottom: none;
}

@media (max-width: 1200px) {
  #lehrerTable .email {
    display: none;
  }
}

@media (max-width: 900px) {
  #lehrerTable .date {
    display: none;
  }
}

@media (max-width: 700px) {
  #lehrerTable .position {
    display: none;
  }
}

@media (max-width: 390px) {
  #lehrerTable .faecher {
    display: none;
  }
}

/* Lehrertable End */

@media (max-width: 1100px) {
  div.confirmation a {
    width: 50%;
    min-width: 200px;
  }
  div.confirmation div#abortfirst {
    display: none;
  }
  div.confirmation div#deletefirst a {
    margin-right: auto;
    display: block;
  }
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    background-color: rgb(71, 71, 71);
    color: rgb(226, 226, 226);
  }
  .add-input form label {
    color: rgb(226, 226, 226);
  }
  .add-input form ::placeholder {
    color: rgb(226, 226, 226);
    opacity: 1; /* Firefox */
  }
  .add-input form input,
  .add-input form textarea {
    color: rgb(226, 226, 226);
    background: rgb(122, 133, 131);
    border-bottom: rgb(122, 133, 131);
  }
  .add-input form .faecher .heading2,
  .add-input form .position .heading2 {
    border-bottom: 2px solid rgb(122, 133, 131);
  }
  .add-input form .faecher input {
    color: rgb(226, 226, 226);
  }
}
