html,
body {
  width: 100%;
  height: 100%;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  z-index: 0;
  font-family: "montserrat", sans-serif;
}

.bodyDiv {
  min-height: calc(100vh - 50px);
}

a {
  text-decoration: none;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  display: block;
}

.line {
  display: block;
  width: 80%;
  height: 1px;
  border-bottom: 1px solid gray;
  top: 24%;
  position: relative;
  margin: auto;
}

iframe {
  position: absolute;
  height: calc(100% - 50px);
  width: 100%;
  border: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  z-index: +1;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="submit"],
input[type="password"] {
  align-self: center;
  position: relative;
  width: 90%;
  height: 30px;
  font-size: 15px;
  color: #000;
  margin: auto;
  display: block;
  border-radius: 13px;
  margin-top: 20px;
}

textarea {
  font-family: "montserrat", sans-serif;
  align-self: center;
  position: relative;
  width: 90%;
  font-size: 15px;
  color: #000;
  margin: auto;
  display: block;
  border-radius: 13px;
  margin-top: 10px;
}
